/node_modules
/public/css
/public/js
/public/images
/public/build
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/.idea
_ide_helper.php
Homestead.json
Homestead.yaml
composer.lock
yarn.lock
.phpstorm.meta.php
.env
.DS_Store
